@import "tailwindcss";

body {
  background-color: #050505;
  color: #e0e0e0;
  font-family: "JetBrains Mono", monospace;
  overflow-x: hidden;
}

/* Text Selection - High Contrast */
::selection {
  background-color: #00f3ff;
  color: #000000;
}

::-moz-selection {
  background-color: #00f3ff;
  color: #000000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0f14; 
}
::-webkit-scrollbar-thumb {
  background: #00f3ff; 
  border-radius: 4px;
}